extends /layout/auth

block content
  if hasInfo
    for prop in message
      .alert.alert-warning(role='alert')= prop
  form.form-sign-up(method='POST', action='/auth/sign-up')
    .form-label-group
      input#exampleInputEmail1.form-control(type='text', name='accountName', placeholder='Account Name', required)
      label(for='exampleInputEmail1') Account Name
    .form-label-group
      input#exampleInputEmail1.form-control(type='text', name='nickname', placeholder='Nickname', required)
      label(for='exampleInputEmail1') Nickname
    .form-label-group
      input#exampleInputEmail1.form-control(type='email', name='email', aria-describedby='emailHelp', placeholder='Email Address', required)
      label(for='exampleInputEmail1') Email Address
    .form-label-group
      input#password.form-control(type='password', name='password', placeholder='Password', required)
      label(for='password') Password
    .form-label-group
      input#confirm_password.form-control(type='password', name='confirm_password', placeholder='Password Check', required)
      label(for='confirm_password') Password Check
    .custom-control.custom-checkbox.mb-3.text-center
      input#customCheckBox.custom-control-input(type='checkbox', value='sigin-up-check', required)
      label.custom-control-label(for='customCheckBox') Blog Sign Up Check
    button.btn.btn-lg.btn-outline-primary.btn-block(type='submit') Submit
