extends /layout/main

block content
  .row.my-4.justify-content-center
    .col-md-9
      .card.mb-3
        .card-body
          a(href='/post.html')
            h2.text-primary 補充課程：Sass 與 includePaths
          .d-flex.flex-row.text-secondary.small
            .p-2
              span
                i.far.fa-calendar-alt
              |  2018/01/04
            .p-2.text-info
              span
                i.fa.fa-tag
              a.text-info(href='#')
                |  沒有分類
          p
            | [程式][PHP] HTML 表單(Form)以陣列(Array)方式傳遞資訊。
            | 什麼時候會用到這樣的方法，我無法明確表達，可能要靠你自己想像。
            | 我遇到的狀況是要讓 user 不斷的新增商品與價格。 第一種做法： .....