extends /layout/main

block content
  .row.my-4.justify-content-center
    .col-md-12.col-lg-8
      for prop in articles
        .card.mb-3
          .card-body
            a(href='/article/' + prop.id)
              h2.text-primary= prop.title
            .d-flex.flex-row.text-secondary.small
              .p-2
                span.px-2
                  i.far.fa-calendar-alt
                span= moment(prop.update_time * 1000).format('YYYY/MM/DD')
              .p-2.text-info
                span.px-2
                  i.fa.fa-tag
                a.text-info(href='#')
                  for item in categories
                    if prop.category === item.id
                      span= item.name
            p= striptags(prop.content).slice(0, 140) + '...'
  include /includes/pagination.pug
