doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title= title
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/auth/index.css')
  body
    #app.m-auto
      header.text-center.mb-40
        img.mb-4(src='/image/blog-solid.svg', alt='Blog Icon', width='72', height='72')
        h1.h3.mb-3.font-weight-normal= title
      section
        block content
      footer.mt-5.mb-3.text-muted.text-center © Copright 2019
    
